{# Master template #}
<!DOCTYPE html>

<html class="no-js" lang="en" dir="ltr">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    
	<title>
		Craft Boilerplate
	</title>

	<!-- CSS -->
    <link href="/dist/app.min.css?cb=1499790573082" rel="stylesheet" />
	
</head>

{# set body ID based on section #}
{% if "homepage" in entry.type|t %}{% set bodyId = "pg-homepage" %}
{% else %}{% set bodyId = "pg-content" %}
{% endif %}

<body id="{{ bodyId }}">

	<!-- siteUrl = {{ siteUrl }} -->

	{# Header #}
	{% include('modules/_header.twig') %}

	<!-- BEGIN: Page Content -->
	{% block content %}

	{% endblock %}
	<!-- END: Page Content -->

	{# Footer #}
	{% include('modules/_footer.twig') %}
	<script>		
		$(document).ready(function(){	
			{% block footerscript %}{% endblock %}
		});
	</script>	

</body>

</html>